<html lang=fr>
<head>
    <title> {% block title %}
                lafleur symfony 2
            {% endblock %}
        </title>
    <meta http-equiv="Content-Language" content="fr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% stylesheets '@LaFleurSymfonyBundle/Resources/public/css/cssGeneral.css' filter='cssrewrite' %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen">
    {% endstylesheets %}
</head>
<body>
<div id="bandeau">
    <!-- Images En-tête -->
    <!--<img src="images/menuGauche.gif"	alt="Choisir" title="Choisir"/>-->
    <img src={{ asset('images/lafleur.gif') }}	alt="Lafleur" title="Lafleur"/>
</div>
<!--  Menu haut-->
<ul id="menu">
    <li><a href={{ path('la_fleur_symfony_accueil') }}> Accueil </a></li>
    <li><a href={{ path('la_fleur_symfony_catalogue') }}> Voir le catalogue de fleurs </a></li>
    <li><a href={{ path('la_fleur_symfony_voirPanier') }}> Voir le panier</a></li>
    <li><a href="" >Administrer</a></li>
    {% set layout = app.session.get('layout') %}
    {% if layout==1 %}
               
        {% else %}
        <li>
            <a href={{ path('la_fleur_symfony_nouveau') }} >Créer un compte</a>
        </li>
        <li>
            <a href={{ path('la_fleur_symfony_connec') }} >connecter</a>
        </li>
    {% endif %}
       {#
<!---<li><a href="index.php?uc=gererPanier&action=voirPanier"> Voir son panier </a></li>
ajout du controle
<li><a href="index.php?uc=connec&action=login"> Connection </a></li>
fin d'ajout du controle
<li><a href="index.php?uc=administrer&action=administrer"> Administrer </a></li>-->
#}
</ul>
{% block lateral %}
{% endblock %}

{% block content %}
{% endblock %}


</body>
</html>